body {
    background: url(../images/michael-browning-14090-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
.nav-wrapper {
    background-color: black;
    /* height: 25px; */
}
nav{
    height: 100px;
    margin-top: 0;
}
.nav-wrapper a.app-logo:hover{
    background-color: transparent;
}
.app-logo {
    width: 120px;
    float: left;
    margin-top: -10px;
}
a.brand-logo {
    font-size: 45px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    align-self: auto;
    padding: 1em;
    float: left;
    margin-top: 10px;
}
.nav-wrapper a.brand-logo:hover {
    background-color: orangered;
}
a.brand-logo {
    color:whitesmoke;
}
h1 {
    padding: 1em;
    border: 4px orangered;
    border-style: solid;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 2px gray;
}
h2 {
    text-align: center;
    color: white;
    font-family: 'Anton', sans-serif;
    text-shadow: 2px 2px 2px gray;
}
h3 {
    color: white;
    font-family: 'Anton', sans-serif;
    text-align: center;
    text-shadow: 2px 2px 2px gray;
  
}
.preloader-wrapper {
    margin: 300px 0px 0px 400px;
}
.brand-logo:hover{
    background-color: black;
    color: white;
}
.brand-logo:active{
    color: white;
}
.brand-logo{
    color: white;
}
nav a{
    color: white;
}
nav .brand-logo{
    color: white;
}
/*home page buttons*/
.btn-floating.btn-large {
    width: 100px;
    height: 100px;
    padding: 5px 0px 0px 0px;
    text-shadow: 1px 1px 2px black;
    font-family: 'Quicksand', sans-serif;}
#cuisineBttn{
    padding: 0px 0px 0px 135px;
}
#priceBtn{
        padding: 0px 0px 0px 330px;
}
#distBtn{
        padding: 0px 0px 0px 330px;
}
#resultsBtn{
        padding: 0px 0px 0px 330px;
}
.brand-logo:focus{
        background-color: black;
        color: white;
}
a.btn-floating, .flow-text{
    font-family: 'Quicksand', sans-serif;
}
.flow-text{
    color: white;
    text-shadow: 2px 2px 2px gray;
    font-family: 'Quicksand', sans-serif;
}
form{
    border: 4px solid orangered;
}
input{
    color: white;
}
#submit:hover{
    background-color: orangered;
}
/*price page buttons*/
.btn-floating.btn-medium {
    width: 80px;
    height: 80px;
   
}
/*distance page buttons*/
.btn-floating.btn-small {
    width: 80px;
    height: 80px;
}
#price-submit:hover{
    background-color: orangered;
}
#price-submit{
    font-family: 'Quicksand', sans-serif;
}
/*results page buttons*/
.btn-floating.btn-xlarge {
    width: 80px;
    height: 80px;
}
.btn-floating.btn-xlarge:hover{
    background-color: black;
    color: white;
}
.btn-floating.btn-xlarge:active{
    color: white;
}
.btn-floating.btn-xlarge {
    color: white;
}
.material-icons {
    text-shadow: 1px 1px 2px black;
    color: white;
    position: absolute;
    z-index: 88;
    padding: 1.3em;
    line-height: 115px;
    
}
#zipBox {
background-color: orangered;
color:white;
font-weight: bolder;
margin: 0px 0px 30px 350px;
}
.material-icons-prices {
    text-shadow: 1px 1px 2px black;
    font-family: 'Quicksand', sans-serif;
    line-height: 10px;
    padding: 1.9em;
}
.material-icons-pricess {
    text-shadow: 1px 1px 2px black;
    padding: 1.6em;
    line-height: 15px;
    font-family: 'Quicksand', sans-serif;
}
.material-icons-pricesss {
    text-shadow: 1px 1px 2px black;
    padding: 1.3em;
    line-height: 25px;
    font-family: 'Quicksand', sans-serif;
}
.material-icons-pricessss {
    text-shadow: 1px 1px 2px black;
    padding: 1em;
    line-height: 35px;
    font-family: 'Quicksand', sans-serif;
}
.material-icons-miles {
    text-shadow: 1px 1px 2px black;
    padding: .5em;
    line-height: 50px;
    font-family: 'Quicksand', sans-serif;
}
.material-icons-miless {
    text-shadow: 1px 1px 2px black;
    padding: .7em;
    line-height: 50px;
    font-family: 'Quicksand', sans-serif;
}
.material-icons-review {
    text-shadow: 1px 1px 2px black;
    padding: .3em;
    line-height: 55px;
    font-family: 'Quicksand', sans-serif;
}
.material-icons-sug {
    text-shadow: 1px 1px 2px black;
    padding: 1em;
    line-height: 35px;
    font-family: 'Quicksand', sans-serif;
}
/* modals */
.modal h4{
    font-family: 'Anton', sans-serif;
}
.modal p{
    font-family: 'Quicksand', sans-serif;
}
.modal{
    border: 4px solid orangered;
    padding: 10px;
}
#review p{
    border-top: 2px gray;
}
#myModalMap {
    height: 400px;
    padding: 20px;
}
/*Iphones (320px and up)*/
@media only screen and (min-width: 320px) {
    a.brand-logo.white-text {
        margin-left: -50px;
        font-size: 15px;
    }
    #cuisineBttn {
        padding: 0px 0px 0px 0px;
    }
    #distBtn {
        padding: 0px 0px 0px 0px;
    }
    #priceBtn {
        padding: 0px 0px 0px 0px;
    }
    #resultsBtn {
        padding: 0px 0px 0px 0px;
    }
}
/* Smaller devices (small phones, 400px and up) */
@media only screen and (min-width: 400px) {
    a.brand-logo.white-text {
        margin-left: -85px;
        
    }
    #cuisineBttn {
        padding: 0px 0px 0px 0px;
    }
    #distBtn {
        padding: 0px 0px 0px 0px;
    }
    #priceBtn {
        padding: 0px 0px 0px 0px;
    }
    #resultsBtn {
        padding: 0px 0px 0px 0px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    a.brand-logo.white-text {
        margin-left: -180px;
        
    }
    #cuisineBttn {
        padding: 0px 0px 0px 35px;
    }
    #distBtn {
        padding: 0px 0px 0px 80px;
    }
    #priceBtn {
        padding: 0px 0px 0px 80px;
    }
    #resultsBtn {
        padding: 0px 0px 0px 80px;
    }
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    a.brand-logo.white-text {
        margin-left: -250px;
        
    }
    #cuisineBttn {
        padding: 0px 0px 0px 35px;
    }
    #distBtn {
        padding: 0px 0px 0px 130px;
    }
    #priceBtn {
        padding: 0px 0px 0px 130px;
    }
    #resultsBtn {
        padding: 0px 0px 0px 130px;
    }
    
} 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    a.brand-logo.white-text {
        margin-left: -380px;
        
    }
    #cuisineBttn {
        padding: 0px 0px 0px 30px;
    }
    #distBtn {
        padding: 0px 0px 0px 230px;
    }
    #priceBtn {
        padding: 0px 0px 0px 230px;
    }
    #resultsBtn {
        padding: 0px 0px 0px 230px;
    }
} 
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    a.brand-logo.white-text {
        margin-left: -20px;
        
    }
    #cuisineBttn {
        padding: 0px 0px 0px 40px;
    }
    #distBtn {
        padding: 0px 0px 0px 230px;
    }
    #priceBtn {
        padding: 0px 0px 0px 230px;
    }
    #resultsBtn {
        padding: 0px 0px 0px 230px;
    }
}
/*Extra-Extra large screen (1440px)*/
@media only screen and (min-width: 1400px) {
    a.brand-logo.white-text {
        margin-left: 20px;
        
    }
    #cuisineBttn {
        padding: 0px 0px 0px 100px;
    }
    #distBtn {
        padding: 0px 0px 0px 300px;
    }
    #priceBtn {
        padding: 0px 0px 0px 300px;
    }
    #resultsBtn {
        padding: 0px 0px 0px 300px;
    }
}










    


    